<title>final Page</title>
<style>  
 body {margin:4;
    background-image: url("https://wallpapercave.com/wp/wp2714490.jpg");
    background-size:75pc}
td{
    color:navajowhite;
    font: bolder;
}
</style>   
<body>
<div >  
    <br><br><br><br><br><br><br><br><br><br><br><br>
<table border="8" width="50%" height="40%">
    <tr><th>Movie Name</th><td>&emsp;&emsp;{{movie_name}}</td></tr>
    <tr><th>Theatre Name</th><td>&emsp;&emsp;{{theatre_name}}</td></tr>
    <tr><th>Date</th><td>&emsp;&emsp;{{date}}</td></tr>
    <tr><th>Show Time</th><td>&emsp;&emsp;{{time}}</td></tr>
    <tr><th>Seats</th><td>&emsp;&emsp;{{seat}}</td></tr>    
</table>
</div>
</body>


    