<title>movie page</title>
<style>
        .icon-bar{
            background-color:  rgb(180, 41, 17);
            padding: .5px;
            width: 99%;
          }
          .icon-bar a {
            float: right;
            width: 5%;
            padding: 1px;
            transition: all 0.3s ease;
            color: rgb(229, 229, 240);
            
          } 
          
          .icon-bar a:hover {
            background-color:rgb(34, 30, 30);
          }
          .aicon-bar{
            background-color: rgb(91, 228, 137);
            padding: .4cm;
            width: 99%;
          }
          .aicon-bar a {
            float: left;
            width: 10%;
            padding: 1px;
            transition: all 0.3s ease;
            color:black;
            font-size: 15px;
          } 
          </style>
        <body>
          <div class="icon-bar">
            <h2>Ticket Booking</h2>  
          </div>  <br>
          <marquee animation="15s" color="blue" behavior="scroll" direction="left">
            Welcome to TicketBooking
          </marquee>
        <div>
                <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" width="180" height="300"><br>
                <a href="https://www.imdb.com/title/tt1375666/videoplayer/vi4219471385/" target="_blank"><button> Trailer </button></a>
                <h5>Story:</h5>A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.<br>
                <h5>Crew:Director:</h5></h5>Christopher NolanWriter: Christopher Nolan<br>
                <h5>Cast:</h5> Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page <br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button><a href="/log/">Book Now</a></button>
        </div>
        </body>